@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;

}

.container {
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 100%), url('./assets/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.left img {
    margin: 0 7rem;
    height: 7.6rem;
}

.right {
    margin: 0 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

}

.flex {
    display: flex;
    justify-content: space-between;
}

.black {
    padding: 12px 36px;
    background: transparent;
    color: white;
    border: .5px solid lightgray;
    border-radius: 5px;
    font-weight: bold;
    min-width: 124px !important;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.red {
    padding: 12px;
    /* width: 76px; */
    /* height: 32px; */
    background: #e50914;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    font-weight: bold;
    min-width: 76px !important;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.red:hover {
    background: #cf0c15;
}

.heading-section {
    text-align: center;
    color: white;
}

.heading {
    margin-top: 6rem;
    font-size: 20px;
    line-height: 2;
}

.first {
    font-size: 31px;
}

.second {
    font-size: 21px;
}

h1 {
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.6;
}

.email-section input {
    height: 50px;
    width: 23rem;
    padding: 22px;
    background: transparent;
    margin: 12px 0;
    border: .2px solid rgb(116, 112, 112);
    cursor: pointer;
}

.email-section button {
    margin: 0 12px;
    padding: 10px;
    background: #e50914;
    color: white;
    font-size: 19px;
    border: 2px solid transparent;
    cursor: pointer;

}

.email-section button:hover {
    background: #cf0c15;
}

.email-section span {
    filter: invert(1);
    -webkit-filter: invert(1);
}

.line {
    width: 100%;
    height: 0.5rem;
    bottom: -0.5rem;
    background-color: rgb(35, 35, 35);
}

.left-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.left-flex img {
    margin-bottom: 100px;
    height: 400px;
}

.down {
    margin-top: 6rem;
    margin: 0 45px;
}

.down h1 {
    line-height: 1.3;
}

.down h2 {
    margin: 2rem 0;
    line-height: 1.3;
    font-size: 26px;
}

.right-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.right-flex img{
    /* width: 100%; */
    height: 400px;
}

.faqs {
    background-color: #000;
}

.items {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    font-size: 21px;
    margin-top: 2rem;
    align-items: center;
    background-color: #2d2d2d;

}

.item img {
    filter: invert(1);
    -webkit-filter: invert(1);
}

.faqs h1 {
    text-align: center;
    padding: 2rem 0;
}

.item:hover {
    background-color: #a19797;
    cursor: pointer;
    transition: 2s ease-in-out linear;
    -webkit-transition: 2s ease-in-out linear;
    -moz-transition: 2s ease-in-out linear;
    -ms-transition: 2s ease-in-out linear;
    -o-transition: 2s ease-in-out linear;
}

.items-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.ready-watch {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.ready-watch h2 {
    margin: 30px 0;
}

.ready-watch input {
    height: 50px;
    width: 40%;
    padding: 22px;
    background: transparent;
    margin: 12px 0;
    border: .2px solid rgb(65, 63, 63);
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.ready-watch button {
    margin: 0 12px;
    padding: 10px;
    background: red;
    color: white;
    font-size: 21px;
    border: 2px solid transparent;
    cursor: pointer;
    border: 2px solid #e50914;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

}

.ready-watch button:hover {
    background: #cf0c15;
}

.ready-watch button span {
    filter: invert(1);
    -webkit-filter: invert(1);
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    padding: 34px;
    background-color: #2d2d2d;
}
.watching-section{
    margin: 6rem 0;
}


